.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 25px;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid black;
    border-radius:25px;
}

#task-list {
    list-style: none;
    padding: 0;
}

#task-list li {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
    width: 85%;
}

#task-list li input[type="checkbox"] {
    margin-right: 10px;
}

#new-task {
    width: 85%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

#add-task {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.delete-task {
    color: black;
    background-color: red;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}
